.per_chat_content_wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}
.messages_container {
    width: 100%;
    background-color: #f5f4fa;
}
.message_wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    justify-content: space-between;
    margin-bottom: 30%;
    
}

.message_person_name_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    height: 100%;
    padding: 0 10px;
}

.message_person_name_content > h5 {
    font-size: 0.9rem;
    color: #3c96f7;
    font-weight: bold;
}
.message_person_name_content > p {
    font-size: 0.95rem;
}

.message_guest {
    background-color: #fefefe;
    width: 200px;
    height: 56px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    flex-direction: row-reverse;
}
.message_user {
    background-color: #8f87ea;
    width: 250px;
    height: 56px;
}

.message_user > .message_person_name_content {
    color: #fff;
}

.message_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.message_person_image {
    width: 38px;
    height: 38px;
}

.chat_image {
   width: 100%;
   height: 100%;
   border-radius: 38px;
}
