.profile_chats_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    /* max-height: 433px;
    height: 64%; */
    /* max-height: 355px;
    height: 52.6%; */
    margin: 0 auto;
}

.profile_chat_item {
    width: 375px;
    /* height: 75px; */
    padding: 3.5%;
    border: 2px solid #e6e3f1;
    border-radius: 5px;
    background-color: #f5f4fa;
    margin: 12px 0;
    width: 100%;
}

.profile_chats_container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile_chat_heading {
    margin-bottom: 3%;
    margin-top: 5%;
    /* font-size: 1rem; */
    font-weight: bold;
    color: #454253;
}
.profile_chat_heading > h3 {
    font-size: 0.9rem;
}
.profile_chat_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profile_chat_item_left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_chat_item_right {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #514e5f;
}


.profile_chat_item_left_fletter {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 45px;
    color: #fff;
    /* font-size: 1.5rem;
    font-weight: bold; */

    font-family: 'gilroy-bold';
    font-size: 20pt;
}

.profile_chat_item_right > h3 {
    font-size: 12pt;
}
.profile_chat_item_right > p {
    font-size: 10.5pt;
}
.chat_items_wrapper {
    z-index: 2;
    width: 100%;
}

.item_left_asos {
    background-image: linear-gradient(#f66a78, #fdc691);
}
.item_left_teamshop {
    background-image: linear-gradient(#d3de7a, #33b8ae);
}
.item_left_nina {
    background-image: linear-gradient(#8c81dc, #4f7de0);
}