.menubar_header_wrapper {
    width: 100%;
    height: 64px;
    background-color: purple;
    background-image: linear-gradient(to right, #5e68d5 , #c790df);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.menubar_header_wrapper * {

    color: #fff;
}

.menubar_heading > h3 {
    font-family: 'gilroy-medium';
    font-size: 11pt;
}